# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# C++ Build directories
src-cpp/build
src-cpp/build-*
src-cpp/out
src-cpp/*.vcxproj
src-cpp/*.vcxproj.filters
src-cpp/CMakeCache.txt
src-cpp/CMakeFiles
src-cpp/cmake_install.cmake
src-cpp/Makefile
src-cpp/*.dll
src-cpp/*.exe
src-cpp/*.lib
src-cpp/*.pdb
.vs/*
.vscode/*